<head>
  <title>
    Victory Camp ⤬
    {% if page.title %}
      {{ page.title }}
    {% else %}
      the friends you make along the way
    {% endif %}
  </title>

  <!-- The Meta Zone -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="An inclusive gaming community for positive, supportive peeps who wanna have fun ✌️ active games include Rocket League, Apex Legends, Minecraft, Halo, Valorant, Risk of Rain 2, and many many others.">
  <meta name="theme-color" content="#5B2283" />
  <meta property="og:title" content="Victory Camp ⤬ positive gaming with friends" />
  <meta property="og:image" content="/images/og-graphic.jpg" />

  <!-- The CSS Imperium -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- Scripts galore (and fonts, too!) -->
</head>
