.Home {
  background-image: url('/images/bg-mesh@2x.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #A2457E;
  padding-bottom: 16rem;
}

.HomeHero {
  max-width: 100%;
}

.role-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.role-item {
  display: flex;
  color: #fff;
  background-color: $color_discord_dark;
  border-radius: 1em;
  padding: .8rem 1.3rem .6rem;
  font-size: 1.3rem;
  margin-right: 1em;
  line-height: 1;
}

.role-color {
  display: block;
  width: 15px;
  height: 15px;
  margin: auto 0;
  margin-right: .6rem;
  border-radius: 50%;
  background-color: #000;

  &.--apex         { background-color: #DE4C2B; }
  &.--rocketleague { background-color: #347FF0; }
  &.--halo         { background-color: #679D0F; }
  &.--minecraft    { background-color: #24D0C6; }
  &.--risk         { background-color: #D0AA24; }
  &.--valorant     { background-color: #FE1A14; }

}

.hero-title {
  font-size: 34px;
  color: #fff;
  font-weight: 900;
  line-height: 1.2;

  @include media-sm-up {
    font-size: 54px;
  }
}

.button {
  display: block;
  margin-bottom: 1rem;
  background-color: #F9BDEE;
  font-weight: 500;
  color: #290418;
  font-size: 1.5rem;
  padding: 1.5rem 3rem;
  border-radius: 48px;
  text-decoration: none;
  box-shadow: 0px 4px 21px rgba(116, 67, 107, 0.05), 0px 3px 8px rgba(0, 0, 0, 0.05);
  @include transition;


  @include media-sm-up {
    font-size: 1.8rem;
    padding: 2.1rem 4.4rem;
  }


  &:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    background-color: lighten(#F9BDEE, 5%);
    box-shadow: 0px 4px 21px rgba(116, 67, 107, 0.1), 0px 3px 8px rgba(0, 0, 0, 0.05);
    @include transition;
  }

  &:active {
    position: relative;
    top: 1px;
    box-shadow: none;
    background-color: darken(#F9BDEE, 5%);
  }
}
