/*
  ********************
  "Camp" system
  brand system - v2 (4Q20)
  ********************
*/

$color_violet: #5142FF;

.color-white    { color: #ffffff; }
.color-violet { color: $color_refresh_blue; }

.bg-color-white    { background-color: #ffffff; }
.bg-color-violet   { background-color: $color_violet; }
